name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Compile Tests
        run: cargo build --verbose
      - name: Unit Tests
        run: cargo test
      - name: Linter
        run: cargo clippy --all-targets --all-features -- -D warnings --verbose
